.products-title-box {
    display: flex;
    text-align: start;
    margin-top: 10px;
}

.products-title {
    color: #000;
    font-family: Inter;
    font-size: 2.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.center {
    display: flex;
    justify-content: center;
}

.products-box {
    margin: 20px;
    display: flex;
    row-gap: 40px;
    column-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.products {
    margin: 20px;
}