.carousel {
  overflow: hidden;
  max-width: 100%;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease;
  width: 300vw;
  height: 28.1875rem;
}

.carouselSlide {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .carousel {
    display: none; /* ou qualquer outra propriedade que desejar */
  }
}
